<h2><%= @post.title %></h2>
<p><%= @post.content %></p>

<% @post.categories.each do |c| %>
  <li> <%=c.name%> </li>
<%end%>
<br>
Comments:
<% @post.comments.each do |com| %>
  <li><%=com.content%></li>
<%end%>

  <%= form_for(@comment) do |f| %>
        <%= f.text_area :content %><br>
        <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Choose a User' %>
        <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit %>
<%end%>
