<h2><%= @post.title %></h2>
<p><%= @post.content %></p>

<% @post.categories.each do |c| %>
  <li> <%=c.name%> </li>
<%end%>

<% @post.comments.each do |com| %>
  <li><%=com.content%></li>
<%end%>

  <%= form_for(@comment) do |f| %>
        <%= f.text_area :content %><br>
    <%= f.submit %>
<%end%>
